#root {
    height: 100%;
    width: 100%;
}

.Home {
    background-image: url("../assets/huskymainpage.png");
    background-size: cover;
}


.Lastpage {
    background-image: url("../assets/maincoon.png");
    background-repeat: no-repeat;
    background-size: cover;

}

.end-headtext {
    text-align: center;
    padding: 50px;
}

.end-text {
    text-align: center;
    padding: 30%;
}

.buttons3 {
    margin-left: 40%;
    padding: 20px;
    background-color: black;
    color: red;
}

.buttons2 {
    padding: 20px;
    background-color: black;
    color: red;
}

.buttons {
    padding: 20px;
    background-color: black;
    color: red;
}

.number {
    color: crimson;
    text-align: center;
    font-size: 75px;
}

.timer {
    background-size: cover;
    width: 250vh;
    height: 250vh;
    background-color: black;
}

.Mid-text {
    color: rgb(49, 6, 90);

}

.shopingSection {
    width: 100%;
    height: 100%;
    background-image: url("../assets/space.jpg");
    background-size: cover;
    padding: 50px;
}
.posterlist{
    color: rgb(255, 255, 255);
}
.add {
    padding: 5px;
    color: whitesmoke;
    background-image: url("../assets/spaceneb.jpg");
    border-radius: 30px;
    margin-bottom: 30px;


}

.amount {
    padding: 5px;
    color: whitesmoke;
    background-image: url("../assets/spaceneb.jpg");
    border-radius: 30px;
    margin-bottom: 30px;
}

.remove {
    padding: 5px;
    color: whitesmoke;
    background-image: url("../assets/spaceneb.jpg");
    border-radius: 30px;
    margin-bottom: 30px;
}

.textzone {
    display: flex;
    padding: 1px;
    width: 24%;
    border-radius: 30px;
    background-image: url("../assets/spaceneb.jpg");
    color: rgb(255, 255, 255);
}

.Header {
    color: rgb(250, 250, 250);
}

.options {
    color: rgb(255, 255, 255);
}

.minus {
    border-radius: 30px;
    color: rgb(255, 255, 255);
    background-image: url("../assets/spaceneb.jpg");
}

.plus {
    padding: 2px;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    background-image: url("../assets/spaceneb.jpg");
}